#comfortQuality {
    padding: 138px 0;
    text-align: center;
    @include media('<tablet'){ 
        padding: 50px 0;
    }
    @include media('>=tablet', '<=desktop'){ 
        padding: 50px 0; 
    }
    .container {
        @include media('<tablet'){ 
            width: 96%
        }
        @include media('>=tablet', '<=desktop'){ 
            width: 96%;  
        }
    }

    h6 {
        line-height: 32px;
        margin: 0 0 125px;
        @include media('<tablet'){ 
            font-size: 16px;
            margin: 0 0 80px;

        }
    }
    .colLeft {
        width: 585px;
        float: left;
        position: relative;
        @include media('<tablet'){ 
            width: 96%;
            float: none;
            padding: 0 4%;
        }
        @include media('>=tablet', '<=desktop'){ 
            width: 96%;
            float: none;
            padding: 0 4%;
        }
        a{
            text-decoration: none;
            color:#555555;


            h3 {
                margin-bottom: 15px;
            }
            img {
                width: 585px;
                @include media('<tablet'){ 
                    width: 100%;
                }
                @include media('>=tablet', '<=desktop'){ 
                    width: 100%;
                    position: initial;
                    right: 0 
                }
            }
            &:hover {
                opacity: 0.6;
                  text-decoration: underline;
            }
        }
    }
    .colRight {
        width: 400px;
        float: right;
        text-align: center;
        @include media('<tablet'){ 
            width: 96%;
            float: none;
            padding: 0 4%;
        }
        @include media('>=tablet', '<=desktop'){ 
            width: 96%;
            float: none;
            padding: 0 4%;
        }
 a{
            text-decoration: none;
            color:#555555;
             h3 {
                margin-bottom: 15px;
            }
              &:hover {
                opacity: 0.6;
                  text-decoration: underline;
            }

 }
        
        }
    
}