#galleyType {
    padding: 117px 0;
    overflow: hidden;
    text-align: center;
    @include media('<tablet'){ 
        width: 100%;
        padding: 50px 0;

    }
    @include media('>=tablet', '<=desktop'){ 
        width: 100%;
        padding: 50px 0;

    }
     h4 {
        margin: 0 0 50px;
    }
    .container {
        @include media('<tablet'){ 
            width: 90%;

        }
        @include media('>=tablet', '<=desktop'){ 
            width: 90%
        }
    }
    .colLeft {
        width: 519px;
        float: left;
        @include media('<tablet'){ 
            width: 100%;
            float:none;
            margin-bottom: 30px;

        }
        @include media('>=tablet', '<=desktop'){ 
            width: 100%;
            float:none;
            margin-bottom: 30px;
        }
        img {
             margin: 0 0 15px;
            @include media('<tablet'){ 
                width: 100%;
                margin: 0 auto;
            }
            @include media('>=tablet', '<=desktop'){ 
                width: 100%;
                margin: 0 auto;
            }
        }
         h6 {
            margin: 0 0 15px;
        }
    }
    .colRight {
        width: 523px;
        float: right;
        @include media('<tablet'){ 
            width: 100%;
            float:none;

        }
        @include media('>=tablet', '<=desktop'){ 
            width: 100%;
            float:non
        }
        img {
             margin: 0 0 15px;
            @include media('<tablet'){ 
                width: 100%;
            } 
            @include media('>=tablet', '<=desktop'){ 
                width: 100%;
            }
        }
        h6 {
            margin: 0 0 15px;
        }
    }
   
    p {
        margin: 0 0 35px;
        line-height: 24px;
        color: $emperor;
    }
    .btn {
        background: $white;
        border: $emerald 2px solid;
        border-radius: 5px;
        padding: 0 26px;
        line-height: 39px;
        color: $emerald;
        font-family: 'AvenirNextLTPro-Bold';
        font-size: 13px;
        &:hover {
            background: $emerald;
            color: $white;
        }
    }
    hr {
        clear: both;
        height: 200px;
        border: 0;
        margin: 0;
        @include media('<tablet'){ 
            height: 50px;

        }
        @include media('>=tablet', '<=desktop'){ 
            height: 50px;
        }
    }
    .testimonial {
        width: 100%;
        .userInfo {
            padding: 0 0 0 302px;
            font-size: 15px;
            color: $emperor;
            line-height: 20px;
            @include media('<tablet'){ 
                padding: 0;

            }
            @include media('>=tablet', '<=desktop'){ 
                padding: 0;
            }

            img {
                border-radius: 50%;
                border: $emerald 3px solid;
                float: left;
                margin: 0 23px 0 0;
                width: auto;
            }
            .userName {
                padding: 23px 0 0;
            }
            .userRating {
                padding: 15px 0 0;
                i {
                    color: #adadad;
                    margin: 0 5px 0 0;
                    font-size: 18px;
                    &.active {
                        color: $emerald;
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
        .testimonialText {
            padding: 65px 0 0;
            margin: 0 0 15px;
            line-height: 24px;
            color: $emperor;
            text-align: justify;
            @include media('<tablet'){ 
                width: 100%;
                margin: 0 auto;
            }
            @include media('>=tablet', '<=desktop'){ 
                width: 100%;
                margin: 0 auto
            }
        }
    }
    .pager {
        float: right;
        padding: 80px 0 0;
        span {
            width: 46px;
            height: 3px;
            background: #adadad;
            text-indent: -9000px;
            display: inline-block;
            margin: 0 0 0 14px;
            cursor: pointer;
            &.cycle-pager-active {
                background: $emerald;
            }
        }
    }
    .trackIcon {
        margin-bottom: 50px;
        height: 180px;
    }
}