/* ======= HEADER ======= */
.headerBanner {
    background: url(../images/header-image.jpg) no-repeat center top;
    height: 693px;
    position: relative;
    @include media('<tablet'){
        width: 100%;
        height: auto;
        background-position: center;
        background-size: cover;
    }
    @include media('>=tablet', '<=desktop'){ 
        width: 100%;  
    }
   

        header {
            width: 1103px; 
            padding-top: 66px;
            margin: 0 auto;
            overflow: hidden;
            @include media('<tablet'){
                width: 100%; }
            @include media('>=tablet', '<desktop'){ 
                width: 96%;  
            }
            @include media('>=769px', '<=1024px'){ 
                width: 71%;  
            }

            nav {
                float: left;
                margin-top: 15px;
                @include media('<tablet'){
                    display: none;
                }
                @include media('>=tablet', '<=desktop'){ 
                    margin-top: 5px;
                }
                ul {
                    li {
                        display: inline-block;
                        a {
                            font-size: 15px;
                            text-transform: uppercase;
                            color: $mineshaft;
                            text-decoration: none;
                            margin: 0 22px;
                            @include media('>=tablet', '<=desktop'){ 
                                font-size: 12px;
                                margin: 0 14px;
                            }
                            &:hover {
                                color: $emerald;
                            }
                        }
                        &.logo {
                            width: 176px;
                            height: 49px;
                            @include media('<tablet'){
                                margin: 0 auto 15px;
                            }
                            @include media('>=tablet', '<=desktop'){ 
                                background-size: cover;
                                width: 122px;

                            }
                            a {
                                width: 176px;
                                height: 49px;
                                display: block;
                                background: url(../images/logo.png) no-repeat;
                                margin: 0;
                                text-indent: -9000px;
                                transform: translateY(-50%);
                                @include media('<tablet'){
                                    transform: initial;
                                }
                                @include media('>=tablet', '<=desktop'){ 
                                    background-size: cover;
                                    width: 120px;
                                    height: 33px;
                                    line-height: 1px;

                                }
                            }
                        }
                    }
                }
            }
            #search {
                width: 193px;
                height: 43px;
                float: left;
                border: 1px solid #b2ac9c;
                border-radius: 22px;
                @include media('<tablet'){
                    float: none;
                    margin: 0 auto;
                    margin-bottom: 25px;
                }
                @include media('>=tablet', '<=desktop'){ 
                    width: 150px;
                    height: 30px;
                    line-height: 30px;  
                }
                input[type=text] {
                    line-height: 43px;
                    width: 159px;
                    float: left;
                    padding: 0 12px;
                    font-size: 12px;
                    border: 0;
                    margin: 0;

                    @include media('>=tablet', '<=desktop'){ 
                        width: 150px;
                        width: 120px;
                        line-height: 30px;
                    }
                    .fa-search {
                        color: #808080;
                        font-size: 22px;
                        float: left;
                        line-height: 41px;

                        @include media('>=tablet', '<=desktop'){ 
                            line-height: 30px;
                            font-size: 18px;
                        }

                    }

                }
                button {
                    line-height: 41px;
                    @include media('<767px'){
                        line-height: 41px;
                    }
                }
            }
            #cart {
                float: right;
                margin-top: 5px;
                @include media('<tablet'){
                    text-align: center;
                    float:none;

                }
                a {
                    color: $mineshaft;
                    .fa-shopping-cart {
                        font-size: 30px;
                        @include media('>=tablet', '<=desktop'){ 
                            font-size: 22px;
                            margin-right: 5px;
                        }
                    }
                    &:hover {
                        color: $emerald;
                    }
                }
            }
        }
        .headerText {
            width: 658px;
            margin: 78px auto 0;
            text-align: center;
            @include media('<tablet'){
                width: 100%; }
            h5 {
                font-weight: 400;
                font-style: italic;
                font-family: 'Noto Serif', serif;
                margin-bottom: 20px;
                @include media('<tablet'){
                    font-size: 20px;
                }
            }
            h1 {
                margin-bottom: 40px;
                @include media('<tablet'){
                    font-size: 35px;
                    line-height: 35px;
                }
            }
            .btn {
                margin-bottom: 30px;
            }
        }
        .mobileNav {
            display: none;
            @include media('<tablet'){
                display: block;
                float: none;
                text-align: center;
                li {
                    display: block;
                    line-height: 30px;
                }
            }

        }
    }
     .innerHeaderBanner {
        background: url(../images/inner-header-image.jpg) no-repeat center top;
        height: 400px;
        background-size: cover;
        position: relative;
        @include media('<tablet'){
            width: 100%;
            height: auto;
            background-position: center;
            background-size: cover;
        }
        @include media('>=tablet', '<=desktop'){ 
            width: 100%;  
        }
        .innerText{
            position: absolute;
            margin: 0;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px 0;
            h1 {
                margin-bottom: 15px;
            }
            h6{
                font-style: italic;
            }
        }
}
