#lifeTimeWarranty {
    background: url(../images/grey-bg.jpg) no-repeat center;
    max-width: 1638px;
    padding: 120px 0 114px 0;
    margin: 0 auto;
    overflow: hidden;
    .colLeft {
        width: 475px;
        float: left;
        margin-top: 104px;
    }
    .colRight {
        width: 571px;
        float: right;
    }
    p {
        margin: 0 0 15px;
        line-height: 24px;
        color: $emperor;
    }
    .btn {
        background: $napa;
        line-height: 36px;
        padding: 0 21px;
        &:hover {
            background: $emerald;
        }
    }
}