#moreReason {
    background: $emerald;
    padding: 50px 26px;
    overflow: hidden;
    #contentBoxes {
        display: table;
    }
    img {
        @include media('<tablet') {
            width: 100%;
        }
        @include media('>=tablet', '<=desktop') {
            width: 100%;
        }

    }
    .box {
        text-align: center;
        display: table-cell;
        vertical-align: bottom;
        p {
            color: $white;
        }
        div {
            width: 178px;
            padding: 40px 15px;
            border: 5px solid $white;
            margin: 0 12px;
        }

    }
    .box1 {
        div {
            height: 550px;
        }
    }
    .box2 {
        div {
            height: 674px;
        }
    }
    .box3 {
        div {
            height: 792px;
        }
    }
    .box4 {
        div {
            height: 906px;
        }
    }
    .box5 {
        div {
            height: 1032px;
        }
    }

}

