@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/AvenirNextLTPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype'), /* Safari, Android, iOS */
        url('../fonts/AvenirNextLTPro-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('../fonts/AvenirNextLTPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype'), /* Safari, Android, iOS */
        url('../fonts/AvenirNextLTPro-Bold') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 15px;
}
p{
    line-height: 28px;
}

h1 {
    font-size: 60px;
    font-family: 'AvenirNextLTPro-Bold';
    color: $codgrey;
    line-height: 61px;
    margin-bottom: 45px;
    font-weight: normal;
}

h2 {
    font-size: 36px;
    color: $emperor2;
    line-height: 36px;
    margin-bottom: 20px;
    font-weight: normal;
}

h3 {
    font-size: 32px;
    color: $codgrey;
    margin-bottom: 45px;
    font-weight: normal;
}

h4 {
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
    color: $heavymetal;
    margin-bottom: 30px;
    font-weight: normal;
}

h5 {
    font-size: 27px;
    font-family: 'Arimo', sans-serif;
    color: $dovegrey;
    font-weight: 700;

}

h6 {
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    color: $mineshaft2;
    font-weight: 700;

}

.btn {
    background: $emerald;
    border-radius: 3px;
    line-height: 49px;
    color: $white;
    text-align: center;
    padding: 0 30px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    &:hover {
        background: $emperor2;
    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #afafaf;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #afafaf;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #afafaf;
}
:-moz-placeholder { /* Firefox 18- */
    color: #afafaf;
}
input[type="text"], input[type="email"], input[type="tel"]{
    line-height: 40px;
    height: 40px; 
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 3px;
    padding: 0 8px;
    font-size: 12px;
    margin: 0 15px 0 0;
    width:100%;
    margin-bottom: 30px;
}
select {
    line-height: 40px;
    height: 40px; 
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 3px;
    padding: 0 8px;
    font-size: 15px;
    width:100%;
    margin-bottom: 30px;
    
}
textarea{ 
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 3px;
    padding: 8px;
    font-size: 15px;
    width:100%;
    margin-bottom: 30px;
    height: 220px;
}
label {
    display:block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: 'AvenirNextLTPro-Bold';
    text-transform: uppercase;


}