// Brand Colors
$black: #000;
$codgrey:#161616;
$dovegrey:#6c6c6c;
$mineshaft:#2f2e2e;
$tundora: #474646;
$mineshaft2:#353535;
$boulder:#757575;
$emperor: #555555;
$tundora: #454545;
$heavymetal: #181A19;
$emperor2:#515151;
$mineshaft3:#252525;
$scorpion:#575757;
$emerald: #41C683;
$napa: #B2AC9C;
$white: #FFFFFF;

